* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}


.cards__label {
    background: #e6f7ff;
    color: #2c90c9;
    padding:2px 12px 4px; 
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1130px;
}



.three_cards {
    box-sizing: border-box;
    display: flex;
    max-width: 1130px;
    margin: 0;
}



.first_card,
.second_card,
.third_card {
    width: 355px;
    margin: 16px;
    border: 1px solid #d4d4d4;
}


.picture {
    width: 100%;
}

.cards__label {
    background: #e6f7ff;
    color: #2c90c9;
    margin: 25px 209px 201px 24px;
    font-size: 12px;
}


.title {
    font-size: 25px;
    padding: 8px 43px 0 24px;
    color: #333;
}



.cards__text {
    padding: 11px 24px 0;
}


.cards__date {
    display: block;
    padding: 16px 219px 26px 25px;
    color: #999;
}


